*{
    margin: 0;
}
.navbar{
    background-color:white;
    height: 90px;
    width: 100%;
}
.logo{
    height: 70px;
    width: 70px;
    margin-top: 14px;
    margin-left: 50px;
}
.navlinks{
    list-style-type: none;
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 160px;
    margin-top: -45px;
    padding: 0;
}
.navlinks{
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.navlinks a{
    text-decoration: none;
    color: black;
}
#icon{
    padding-left: 700px;
    padding-top: 0px;

}
#loc{
    padding-left: 0px;
    padding-top: 5px;
}
.btn{
    margin-left: 85%;
    margin-top: -25px;
}
#btn1{
    background-color: transparent;
    border-radius: 15px;
    border: 1px black solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
     font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
     font-weight: 700;
    font-size: 15px;
}
#btn2{
    background-color: black;
    color: white;
    border-radius: 15px;
    border-color: black ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 15px;
}
.head{
    margin-left: 20px;
    margin-right: 70px;

}
.head1{
    background-color: #32462f;
    height: 140px;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
}
.head1text p{
    margin-left: 535px;
   margin-top: -84px;
   font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
   font-weight: 600;
   font-size: 20px;
   color: white;
}
.head1text{
    padding-left: 100px;
}
.head1btn{
    margin-left: 900px;
    margin-top: -33px;
}
#btnclr{
    background-color: transparent;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px white solid;
    border-radius: 18px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: white;
}
/* .head2{
    display: flex;
}
.head2 img{
    margin-right: 300px;
    margin-top: 20px;
    width: 50%;
}
.head2-column{
    width: 50%;
    height: 500px;
    background-color: #32462f;
} */
 .container{
    display: flex;
 }
 .row1 img{
    width: 181%;
    height: 400px;
    margin-left: 50px;
    margin-top: 95px;
 }
 .row1text {
    background-color: #9d0024;
    width: 90%;
    height: 400px;
    margin-left: 364px;
    margin-top: 95px;
    margin-right: 38px;
    text-align: center;
}
.row1text h1{
    margin-top: 87px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.row1text p{
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    margin-top: 25px;
    line-height: 1.7;
}
#row1btn{
    background-color:white;
    color: #006241;
    margin-top: 35px;
    border-radius: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
    border: white solid;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.container2{
    display: flex;
}
.row2{
    background-color: #9d0024;
    width: 47%;
    height: 583px;
    margin-left: 48px;
    margin-top: 40px;
}
.row2img img{
    width: 107%;
    height: 583px;
    margin-top: 40px;
}
.row2{
    text-align: center;
}
.row2 h1{
    margin-top: 205px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: white;
}
.row2 p{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
    line-height: 1.7;
}
#row2btn{
    margin-top: 30px;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 18px;
    color:#006241;
    border: white solid;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.row3 img{
    margin-top: 40px;
    width: 47%;
    height: 580px;
    margin-left: 46px;
}
.row3text{
    background-color: #006241;
    width: 50%;
    height: 580px;
    margin-left: 364px;
    margin-top: -584px;
    margin-right: 38px;
    margin-right: 30px;
    text-align: center;
    padding-left: 357px;
}
.row3text h1{
    color: white;
   padding-top: 180px;
   font-family: sans-serif;
   font-weight: 700;
   font-size: 50px;
}
.row3text p{
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 22px;
    padding-top: 15px;
    line-height: 1.6;
}
#row3btn{
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 18px;
    background-color: transparent;
    border: white solid;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.container4{
    display: flex;
    text-align: center;
}
.row4text{
    margin-top: 50px;
    margin-left: 46px;
    background-color:#a91d38;;
    width: 47%;
    height: 550px;
}
.row4 img{
    margin-top: 50px;
    margin-right: -35px;
    width: 121%;
    height: 550px;
}
.row4text h1{
    text-align: center;
    margin-top: 155px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: white;
}
.row4text p{
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 1.5;
}
#row4btn{
    background-color: transparent;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 18px;
    color: white;
    border: white solid;
    margin-top: 30px;
}
.container5{
    display: flex
}
.row5 img{
    height: 420px;
    width: 72%;
    margin-left: 45px;
    margin-top: 50px;
    padding-right: 712px;

}
.row5text{
    margin-top: 50px;
    margin-left: -234px;
    background-color: #f1f0e4;;
    width: 74%;
    height: 420px;
    text-align: center;
}
.row5text h1{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding-top: 145px;
    color:#32472f;
}
.row5text p{
    font-family: sans-serif;
    font-size: 300;
    font-size: 25px;
    padding-top: 30px;
    line-height: 1.5;
    color: #32472f;;
}
#row5btn{
   background-color: #006241;
    color: white;
    border-radius: 34px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: white solid;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-top: 15px;
}
.downtext{
    margin-top: 80px;
    margin-left: 400px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 50px;
}
.footer{
   height: 410px; 
   border-top: 2px rgb(218, 218, 218) solid;
   display: flex;
}
.footerul{
    list-style: none;
    line-height: 2.5;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 30px;
    color: grey   ;
}
.clr{
    color: black;
}
.footer{ 
   border-bottom: 2px grey solid;
}
.newfoot{
    height: 300px;
}
.logo{
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
.logo i{
    font-size: 27px;
}
.lasttext{
    list-style: none;
    font-family: sans-serif;
    font-size: 20px;
}
.last{
    gap: 50px;
}
.copy p{
   padding-left: 20px;
   color: grey;
   font-family: sans-serif;
}
#menu a:hover{
    color:#006241;   
}
#rewards a:hover{
    color: #006241;
}
#gift a:hover{
    color: #006241;
}